<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col col-lg-10">
        <h5>Users List</h5>
      </div>
      <div class="col col-lg-2 float-right">
        <button
          type="button"
          class="btn btn-success btn-sm float-right"
          data-toggle="modal"
          data-target="#exampleModal"
          (click)="showModal=true">
          Add User
        </button>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group btn-group-sm mr-2" role="group" aria-label="First group">
                <button class="btn btn-info" (click)="onView(user.id)">View</button>
            </div>
            <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Second group">
                <button class="btn btn-danger" (click)="onDelete(user.id)">Delete</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- modal component -->
<div class="modal fade" id="exampleModal" [ngClass]="{'show': showModal}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="title">New user</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="showModal=false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- modal body -->
      <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                    id="name"
                    placeholder="Enter Name">
                    <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                      <div *ngIf="name.errors.required">Name is required.</div>
                      <div *ngIf="name.errors.minlength">Name should be minimum {{ name.errors.minlength.requiredLength }} characters.</div>
                    </div>
                </div>
                <div class="col">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    id="email"
                    placeholder="Enter Email">
                    <!-- <div *ngIf="email.pending">Checking for uniqueness...</div> -->
                    <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                      <div *ngIf="email.errors.required">Email is required.</div>
                      <div *ngIf="email.errors.email">Email address is invalid.</div>
                    </div>
                </div>
                <div class="col col-lg-2">
                  <label for="role">Role</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="role"
                    id="role"
                    placeholder="Enter Role">
                    <div *ngIf="role.touched && role.invalid" class="alert alert-danger">
                      <div *ngIf="role.errors.required">Role is required.</div>
                    </div>
                </div>
              </div>
            </div>
          </form>
      </div>
      <!-- modal body end -->

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="showModal=false">Close</button>
        <button
          type="button"
          class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

