/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.navbar {
  margin-bottom: 20px;
}

.form {
  padding: 20px;
}

.card {
  margin-bottom: 10px;
}
