<div class="card">
    <div class="card-header">
      <h5>User Details</h5>
    </div>
    <div class="container form">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col col-lg-2">
              <label for="id">ID</label>
              <input type="number" class="form-control" id="id" placeholder="ID" readonly>
            </div>
            <div class="col">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="instructorId" placeholder="Enter Name">
            </div>
            <div class="col">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter Email">
            </div>
            <div class="col col-lg-2">
              <label for="role">Role</label>
              <input type="number" class="form-control" id="role" placeholder="Enter Role">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
